version: 2.1
orbs:
  ship: auth0/ship@0
jobs:
  build:
    parameters:
      node-version:
        type: string
        default: "18"
    docker:
      - image: cimg/node:<< parameters.node-version >>
    environment:
      LANG: en_US.UTF-8
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Build
          command: npm run build
      - run:
          name: Lint
          command: npm run lint && npm run lint:package
      - run:
          name: Run Tests against browser
          command: npm run test:browser
      - run:
          name: Run Tests against node
          command: npm run test:node
workflows:
  build-and-test:
    jobs:
      - build:
          matrix:
            parameters:
              node-version: ["18.16", "20.4"]
      - ship/node-publish:
          publish-command: npm publish --tag beta
          context:
            - publish-npm
            - publish-gh
          filters:
            branches:
              only:
                - master
                - beta
          requires:
            - build
