version: 2.1
orbs:
  ship: auth0/ship@0
jobs:
  build:
    parameters:
      node-version:
        type: string
        default: "18"
    docker:
      - image: cimg/node:<< parameters.node-version >>-browsers
    environment:
      LANG: en_US.UTF-8
    steps:
      - checkout
      - run:
          name: Update NPM version
          command: sudo npm install -g npm@latest
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Build
          command: npm run build
      - run:
          name: Run tests against Node.js
          command: npm run test
      - run:
          name: Run tests against Chrome
          command: npm run test -- --browser=chrome
      - run:
          name: Run tests against Firefox
          command: npm run test -- --browser=firefox
workflows:
  build-and-test:
    jobs:
      - build:
          matrix:
            parameters:
              node-version: ["16.20", "18.16", "20.4"]
      - ship/node-publish:
          publish-command: npm publish --tag beta
          context:
            - publish-npm
            - publish-gh
          filters:
            branches:
              only:
                - master
                - beta
          requires:
            - build
